<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8" />
    <title>moirai</title>
    <link rel="stylesheet" href="/static/home_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
</head>


<body>
    <header class="topbar">
        <div class="topbar_container">
            <div class="logo">MOIRAI</div>
            <div class="buttons">
                {{^username}}
                <button id="show_login">login</button>
                <button id="show_signup">sign up</button>
                {{/username}}
                {{#username}}
                <span class="welcome">welcome back, {{username}}!</span>
                <form action="/logout" method="POST">
                    <button type="submit">logout</button>
                </form>
                {{/username}}
            </div>
        </div>
    </header>



    <!-- message-->
    <main class="home_message">
        <h1 class="home_big_title">MOIRAI</h1>
        <p class="home_small_tile">start media tracking today!</p>
        <form class="search_form" action="/search" method="get">
            <div class="search_input">
                <input type="text" name="q" placeholder="" required autofocus />
            </div>
        </form>
    </main>



    <!-- login form -->
    <div id="login_form" class="form hidden">
        <div class="form_content">
            <button class="close_form" onclick="hide_form('login_form')">&times;</button>
            <h2>login</h2>
            <form method="POST" action="/login">
                <label>Username</label>
                <input type="text" name="username" required />
                <label>password</label>
                <input type="password" name="password" required />
                <button type="submit">login</button>
            </form>
        </div>
    </div>


    <!-- sign up form -->
    <div id="signup_form" class="form hidden">
        <div class="form_content">
            <button class="close_form" onclick="hide_form('signup_form')">&times;</button>
            <h2>sign up</h2>
            <form method="POST" action="/signup">
                <label>username</label>
                <input type="text" name="username" required />
                <label>password</label>
                <input type="password" name="password" required />
                <button type="submit">sign up</button>
            </form>
        </div>
    </div>



    <script src="/static/home_script.js"></script>
</body>
</html>
